body {
  padding: 50px;
  background-color: #357696;
  font-family: sans-serif;
}

#container {
  display: flex;
  justify-content: center;
}

.router {
  background-color: #c3baba;
  border: 1px dotted blueviolet;
}
